invisible-watermark==0.2.0
opencv-python>=4.5.5
gradio>=3.0
absl-py==2.1.0
bchlib==2.1.2
focal-frequency-loss==0.3.0
kornia==0.7.3
kornia_rs==0.1.5
lightning-utilities==0.11.7
lpips==0.1.4
numpy==2.1.1
pillow==10.4.0
scipy==1.14.1
six==1.16.0
tensorboard==2.17.1
torch==2.4.1
torchmetrics==1.4.1
torchvision==0.19.1